In [1]:
import pandas as pd
import numpy as np

In [2]:
# 2 Main data types
series = pd.Series(['BMW', 'Audi', 'Maruti'])

In [3]:
series

0       BMW
1      Audi
2    Maruti
dtype: object

In [4]:
# series = 1-dimensional

In [5]:
colours = pd.Series(['Red', 'White', 'Blue'])
colours

0      Red
1    White
2     Blue
dtype: object

In [6]:
# DataFrame = 2-Dimensional
car_data =pd.DataFrame({'Car Make':series, 'Colours':colours})
car_data

  Car Make Colours
0      BMW     Red
1     Audi   White
2   Maruti    Blue

In [8]:
# Import data 
car_sales = pd.read_csv('car-sales.csv')

In [9]:
car_sales.head()

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00

## Describe data